@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'LXGW WenKai';
    src: url(/fonts/LXGWWenKai-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'LXGW WenKai';
    src: url(/fonts/LXGWWenKai-Light.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'LXGW WenKai';
    src: url(/fonts/LXGWWenKai-Bold.ttf) format('truetype');
    font-weight: bold;
}
